.base-brick {
	width:415px;
	margin:5px;
}

.widget-brick {
	width:99%;
}

div.panel-default {
	margin-bottom:0px;
}

.list-group {
	margin-top:5px;
	margin-bottom:0px;
}

.well-clock {
	margin-bottom:0px;
	font-size:40px;
	font-weight:bold;
}